@tailwind base;
@tailwind components;
@tailwind utilities;


.Bold {
  font-family: "Gilroy-Bold";

}

.Medium {
  font-family: "Gilroy-Medium", sans-serif;
}

.SemiBold {
  font-family: "Gilroy-SemiBold", sans-serif;
}

.ExtraBold {
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}