@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gilroy-Medium", sans-serif;
}
h1{
  font-family: "Gilroy-SemiBold",sans-serif;
}
p{
  font-family: "Gilroy-Bold";
}

.scrollbar::-webkit-scrollbar{
  display: none;
}